@import "tailwindcss";

@theme {
  --font-cairo: var(--font-cairo), "sans-serif";
  --color-dhakaa-bg: #FAF7F2;
  --color-dhakaa-text: #302313;
  --color-dhakaa-primary: #A14D0D;
  --color-dhakaa-secondary: #D9BEA0;
  --color-dhakaa-dark: #1a1208;
  --color-dhakaa-accent: #2D371F;
}

@layer base {
  body {
    background-color: var(--color-dhakaa-bg);
    color: var(--color-dhakaa-text);
  }
}
